<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="methods">
  <test thread-count="3" name="Test" parallel="methods">
    <classes>
      <class name="com.testngconcepts.parallelthree"/>
      <class name="com.testngconcepts.parallelone"/>
      <class name="com.testngconcepts.paralleltwo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
